<template>
  <div id="app">
    <img alt="PalantirWizard" src="./assets/logo.jpg">
    <SpellList/>
  </div>
</template>

<script>

import SpellList from './components/SpellList.vue'

export default {
  name: 'app',
  components: {
    SpellList,
  },

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
