<template>
    <div>
        <form id="search">
            Search <input name="query" v-model="searchQuery">
        </form>
        <div class="loading" v-if="spells && spells.length === 0">
            LOADING
        </div>
        <div class="spell-list" v-if="spells && spells.length">
            <div class="table-wrapper">
                <table class="center">
                    <thead>
                    <tr>
                        <th @click="sort('name')">Spell Name
                            <span class="arrow" :class="currentSortDir === 'asc' ? 'asc' : 'dsc'"></span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <div v-bind:key="spell.id" v-for="spell in filteredSpells">
                        <tr class="card">
                            <div>
                                <button v-b-modal="'modal-' + spell.id" >{{spell.name}}</button>
                                <b-modal :id="'modal-' + spell.id" v-bind:title="spell.name">
                                    <p>
                                        <SpellCard v-bind:spellId="spell.id" ></SpellCard>
                                    </p>
                                </b-modal>
                            </div>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>

            <ul v-if="errors && errors.length">
                <li v-bind:key="error" v-for="error of errors">
                    {{error.message}}
                </li>
            </ul>
        </div>
    </div>

</template>

<script>
    import axios from 'axios';
    import SpellCard from './SpellCard';

    export default {
        name: "SpellList",

        data() {
            return {
                errors: [],
                searchQuery: '',
                spells: [],
                currentSort: 'name',
                currentSortDir: 'asc',
                spellDetails: {},
            }
        },
        computed: {
            filteredSpells() {
                return this.spells.filter(spell => {
                    return spell.name.toLowerCase().includes(this.searchQuery.toLowerCase())
                }).sort((a, b) => {
                    let modifier = 1;
                    if (this.currentSortDir === 'desc') modifier = -1;
                    if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            },
        },
        async created() {
            try {
                const response = await axios.get('http://localhost:8090/spells/');
                var responseData = response.data;
                this.spells = responseData.results;
            } catch (e) {
                this.errors.push(e)
            }
        },

        methods: {
            sort: function (s) {
                //if s == current sort, reverse
                if (s === this.currentSort) {
                    this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                }
                this.currentSort = s;
            },
        },
        components: {
            SpellCard,
        }
    }
</script>

<style scoped>

    .card-wrapper {
        display: flex;
        max-width: 444px;
        flex-wrap: wrap;
        padding-top: 12px;
    }

    #search {
        padding-bottom: 1em;
    }

    .card {
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        /*max-width: 124px;*/
        margin: 12px;
        transition: .15s all ease-in-out;
        word-break: break-all;

        &:hover {
            transform: scale(1.1);
        }

        a {
            text-decoration: none;
            padding: 12px;
            color: #03A9F4;
            font-size: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;

            small {
                font-size: 10px;
                padding: 4px;
            }
        }
    }

    body {
        font-family: Helvetica Neue, Arial, sans-serif;
        font-size: 14px;
        color: #444;
    }

    table.center {
        margin-left: auto;
        margin-right: auto;
        width: 20em;
    }

    table {
        border: 2px solid #e9750c;
        border-radius: 3px;
        background-color: #fff;
    }

    th {
        background-color: #e9750c;
        color: rgba(255, 255, 255, 0.66);
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    td {
        background-color: #f9f9f9;
    }

    th, td {
        min-width: 120px;
        padding: 10px 20px;
    }

    th.active {
        color: #fff;
    }

    th.active .arrow {
        opacity: 1;
    }

    .arrow {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 0;
        margin-left: 5px;
        opacity: 0.66;
    }

    .arrow.asc {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid #fff;
    }

    .arrow.dsc {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #fff;
    }
</style>